@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Optional dark mode */
@import "@ionic/angular/css/palettes/dark.system.css";

.tag-chip {
  --background: var(--ion-color-primary-tint);
  --color: var(--ion-color-primary-shade);
  font-size: 0.75rem;
  height: 24px;
}

.item-thumbnail {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

ion-card {
  --border-radius: 12px;
  margin: 8px;
}
